body{
 background-color: rgb(24, 24, 24);   
}
.profile-card{
  background-color: blue;
  font-family: 'Arial', sans-serif;
  color: white;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px;
}
.image-profile{
    border-radius: 50%;
}
.social-links{
    padding: 10px;
    margin: 11px;
    background-color: rgb(255, 0, 0);
    display: flex;
    flex-direction: column;
}