body {
  margin: 0;
  padding: 0;
  font-family: Arial, sans-serif;
background-color: #000000;
}

header {
  background-color: #003aa4;
  color: white;
  text-align: center;
  margin: auto;
  margin-bottom: 0px;
  padding: 10px;
}

.container {
  background-color: red;
  max-width: 1200px;  
  width: 80%;
  margin: auto;
  margin-top: 0px;
  margin-bottom: 0px;
}

.image-container {
 height: 747px;
 width:100%;
 overflow: hidden ;
 background: fixed;
 background-image:url("./images/people.jpg");
 background-repeat: no-repeat;
 background-size: cover;
 background-position: start;
 position: relative;
}

.content{
    background-color: aliceblue;
    opacity: 0.8;
    float: right;
    margin: 20px;
    padding: 20PX;
    width: auto;
    max-width: 400px;
    min-width: 300px;
    height: 90%;
}

.text-promo{
    font-size: 27px;
}
.description{
    font-size: 27px;
    margin-top: 10px;
}

.form-group {
  margin-bottom: 15px;
}
input[type="text"],
input[type="email"],
input[type="password"],
select,
textarea {
  width: 100%;
  padding: 8px;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
}

textarea {
  resize: vertical;
}

button {
  background-color: #007bff;
  color: #fff;
  border: none;
  padding: 10px 20px;
  border-radius: 4px;
  cursor: pointer;
  font-size: 16px;
}

button:hover {
  background-color: #0056b3;
}
.palestrante-container{
  max-width: 1200px;  
  width: 100%;
  margin: auto;
  background-color: #181919;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  margin-top: 0px;
}

.container-image-palestrante{
  width: 25%;
  height: auto;
  padding: 20px;
  margin-top: 30px;
  margin-bottom: 50px;
}

.palestrante-image{
  width: 100%;
  height: auto;
}

.palestrante-info{
  font-size: 24px;
  width: 40%;
  padding: 20px;
  margin-left: 5%;
  color: white;
}


